{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}請求一覧{% endblock %}
{% block include_css %}
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/icheck-1.0.2/skins/all.css') }}">
{% endblock %}
{% block include_js %}
  <!-- iCheck 1.0.2 -->
  <script src="{{ url_for('static', filename='vendor/icheck-1.0.2/icheck.js') }}"></script>
{% endblock %}
{% block content_header %}
  <h1>
    <a href="{{ url_for(session.pre_page) }}" class="btn btn-default">
        <i class="fa fa-arrow-left"></i> 一覧に戻る
    </a>
  </h1>
{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-lg-9">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title" style="font-size: x-large;">
          {% if project.project_name %}{{ project.project_name }}
          <small> 見積No : {{ project.estimation_no|filter_suppress_none }}</small>
          {% endif %}
        </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li><a href="{{ url_for('project_contract.index', project_id=project.id) }}">契約</a></li>
            {% if project.status.is_done() %}
              {% if project.require_result() %}
              <li><a href="{{ url_for('project_result.index', project_id=project.id) }}">実績</a></li>
              {% endif %}
            <li class="active"><a>請求</a></li>
              {% if project.has_payment() %}
              <li><a href="{{ url_for('project_payment.index', project_id=project.id) }}">支払</a></li>
              {% endif %}
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th width="150px"></th>
                  <th>顧客請求書No</th>
                  <th class="text-right">予定請求金額</th>
                  <th class="text-right">確定請求金額</th>
                  <th class="text-center">請求済</th>
                  <th class="text-center">入金済</th>
                  <th width="50px" class="ri"></th>
                  <th width="50px" class="center"></th>
                </tr>
                {% for project_month in project.project_months %}
                  {% if project_month.has_billing() %}
                  <tr>
                    <td>
                      <a href="{{ url_for('project_billing.month', project_month_id=project_month.id) }}">
                        {{ project_month.project_month|datetime_format("%Y年%m月") }}請求書
                      </a>
                    </td>
                    <td>{{ project_month.client_billing_no|filter_suppress_none }}</td>
                    <td class="text-right">{{ project_month.billing_estimated_money|number_with_commas|with_yen }}</td>
                    <td class="text-right">{{ project_month.billing_confirmation_money|number_with_commas|with_yen }}</td>
                    <td class="text-center">
                      <div class="form-group no-margin">
                        <label>
                          <input type="checkbox" class="billing-input-flag"
                                 id="{{ project_month.id }}"
                                 name="billing_input_flag"
                                 {% if project_month.billing_input_flag.value %}checked{% endif %} />
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-group no-margin">
                        <label>
                          <input type="checkbox" class="deposit-input-flag"
                                 id="{{ project_month.id }}"
                                 name="deposit_input_flag"
                                 {% if project_month.deposit_input_flag.value %}checked{% endif %} />
                        </label>
                      </div>
                    </td>
                    <td>
                      <a href="{{ url_for('.billing_report_download', project_month_id=project_month.id) }}?id={{ now }}"
                          class="btn btn-sm btn-success"><i class="fa fa-file-text-o"></i> 請求書出力
                      </a>
                    </td>
                    <td>
                      <a href="{{ url_for('.delivery_report_download', project_month_id=project_month.id) }}?id={{ now }}"
                          class="btn btn-sm btn-success"><i class="fa fa-file-text-o"></i>  納品書出力
                      </a>
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
          </div><!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->

  {% if project.id %}
    {% include "attachment.html" %}
  {% endif %}
</div>
<!-- /.row -->
{% endblock %}
