{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}請求情報登録{% endblock %}
{% block include_css %}
  <!-- bootstrap select -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/css/bootstrap-select.min.css') }}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker3.css') }}">
 {% endblock %}
{% block include_js %}
  <!-- bootstrap select -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/bootstrap-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/i18n/defaults-ja_JP.js') }}"></script>
  <!-- bootstrap datepicker -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/locales/bootstrap-datepicker.ja.min.js') }}"></script>
{% endblock %}
{% block content_header %}
  <h1>
    <a href="{{ url_for('project_billing.index', project_id=form.project_id.data) }}" class="btn btn-default">
      <i class="fa fa-arrow-left"></i> 一覧に戻る
    </a>
  </h1>
{% endblock %}
{% block main_content %}
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-search"></i>
          {{ form.project_month.data|datetime_format("%Y年%m月") }}請求
      </h3>
    </div>
    <form class="form-horizontal" method="post">
    {{ form.hidden_tag() }}
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          {{ render_field(form.client_billing_no, "col-sm-6") }}
          {{ render_field(form.billing_printed_date, "col-sm-6", input_class="date") }}
        </div>
        <div class="box-frame">
          <div class="box-header with-border">
            <a href="{{ url_for('.create', project_month_id=form.id.data) }}"
                class="btn btn-sm btn-success pull-left">
              <i class="fa fa-plus"></i> 請求明細追加
            </a>
          </div>
          <div class="box box-primary">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th width="150px">請求明細内容</th>
                  <th width="110px">請求明細数量</th>
                  <th width="150px" class="text-right">請求明細金額</th>
                  <th width="150px" class="text-right">請求明細交通費等</th>
                  <th>備考</th>
                  <th width="70px" class="center"></th>
                </tr>
                {% for billing in billings %}
                  <tr>
                    <td>
                      <a href="{{ url_for('project_billing.detail', billing_id=billing.id) }}">
                        {{ billing.billing_content|filter_suppress_none }}
                      </a>
                    </td>
                    <td>{{ billing.billing_amount|filter_suppress_none }}</td>
                    <td class="text-right">{{ billing.billing_confirmation_money|number_with_commas|with_yen }}</td>
                    <td class="text-right">{{ billing.billing_transportation|number_with_commas|with_yen }}</td>
                    <td>{{ billing.remarks|filter_suppress_none }}</td>
                    <td>
                      <a class="btn btn-sm btn-danger btn-delete"
                          href="{{ url_for('project_billing.delete', billing_id=billing.id) }}">
                        <i class="fa fa-trash"></i> 削除
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div><!-- box-body table-responsive no-padding -->
          </div><!-- box box-primary -->
        </div><!-- box-frame -->
        <div class="row">
          {{ render_field(form.billing_confirmation_money, "col-sm-6") }}
          {{ render_field(form.billing_tax, "col-sm-6", input_class="selectpicker") }}
        </div>
        <div class="row">
          {{ render_field(form.billing_transportation, "col-sm-6") }}
        </div>
        <div class="row">
          {{ render_field(form.deposit_date, "col-sm-6", input_class="date") }}
        </div>
        <div class="row">
          {{ render_field(form.remarks, "col-sm-12", row="3") }}
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <div class="pull-left small" style="color: #777">
          <p style="margin: 0;">{{ form.updated_user.label.text }} : {{ form.updated_user.data|filter_suppress_none }}</p>
          <p style="margin: 0;">{{ form.updated_at.label.text }} : {{ form.updated_at.data|filter_suppress_none }}</p>
        </div>
        <button type="submit" class="btn btn-primary pull-right save"><i class="fa fa-save"></i> 保存</button>
      </div>
    </form>
  </div>
  <!-- /.box -->
{% endblock %}
