{% extends "layout.html" %}
{% from "_formhelpers.html" import render_search_field %}
{% import "_pagination.html" as p %}
{% block include_css %}
  <!-- bootstrap select -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/css/bootstrap-select.min.css') }}">
{% endblock %}
{% block include_js %}
  <!-- bootstrap select -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/bootstrap-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/i18n/defaults-ja_JP.js') }}"></script>
{% endblock %}
{% block title %}会社{% endblock %}
{% block content_header %}
  <h1>会社</h1>
{% endblock %}
{% block main_content %}
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-search"></i> 検索条件</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <form class="form-horizontal" method="get" action="{{ url_for('.index') }}">
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        {{ render_search_field(form.company_name, "col-md-6") }}
        {{ render_search_field(form.client_flag_id, "col-md-6", input_class="selectpicker") }}
      </div>
      <div class="row">
        {{ render_search_field(form.bank_id, "col-md-6", input_class="selectpicker") }}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="btn-group pull-right">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 検索</button>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a class="form-clear">検索条件クリア</a></li>
        </ul>
      </div>
    </div>
    </form>
  </div>
  <!-- /.box -->

  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          {% if pagination %}
            {% if pagination.total > pagination.per_page %}
              {{ p.pagination_widget(pagination,'.company_page', company_name=request.args.get('company_name', '')) }}
            {% endif %}
          {% endif %}
          <a href="{{ url_for('.create') }}" class="btn btn-sm btn-success pull-right">
            <i class="fa fa-plus"></i> 新規登録
          </a>

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th width="100px">顧客フラグ</th>
              <th width="250px">会社名称</th>
              <th>会社略称</th>
              <th>入金サイト</th>
              <th>支払いサイト</th>
              <th>支払先銀行</th>
              <th width="70px" class="center"></th>
            </tr>
            {% for company in pagination.items %}
            <tr>
              <td>
                {% for company_client_flag in company.company_client_flags %}
                  <label class="label label-primary">{{ company_client_flag.client_flag.name }}</label>
                {% endfor %}
              </td>
              <td>
                <a href="{{ url_for('.detail', company_id=company.id) }}">
                  {{ company.company_name|filter_suppress_none }}
                </a>
              </td>
              <td>{{ company.company_short_name|filter_suppress_none }}</td>
              <td>{{ company.billing_site.name|filter_suppress_none }}</td>
              <td>{{ company.payment_site.name|filter_suppress_none }}</td>
              <td>{{ company.bank.bank_name|filter_suppress_none }}</td>
              <td>
                <a class="btn btn-sm btn-danger btn-delete {% if company.has_relationship() %}disabled{% endif %}"
                    href="{{ url_for('.delete', company_id=company.id) }}"
                    {% if company.has_relationship() %}
                      data-toggle="tooltip" title="この会社は使用されているので削除できません"
                    {% endif %}>
                  <i class="fa fa-trash"></i> 削除
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <a href="{{ url_for('.create') }}" class="btn btn-sm btn-success pull-right">
            <i class="fa fa-plus"></i> 新規登録
          </a>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock %}
