{% macro render_field(field, group_class, input_class="") %}
<div class="form-group {{ group_class }} no-margin{% if field.errors|length %} has-error{% endif %}">
  {{ field.label(class_="control-label no-margin") }}
  {% if field.type == "RadioField" or field.type == "CheckboxField" %}
  <div class="no-padding">
    {% for subfield in field %}
      {{ subfield(**kwargs) }}
      {{ subfield.label(style="margin: 5px 20px 15px 5px; cursor: pointer;") }}
    {% endfor %}
  </div>
  {% else %}
    {{ field(class_="form-control " + input_class, placeholder=field.label.text, style="width: 100%;", **kwargs) }}
  {% endif %}
  <span class="help-block no-margin">
  {% for error in field.errors %}
      <p>{{error}}</p>
  {% endfor %}
  </span>
</div>
{% endmacro %}
{% macro render_search_field(field, group_class, input_class="") %}
{% if field.type == "RadioField" or field.type == "CheckboxField" %}
  <div class="{{ group_class }}" style="margin-bottom: 5px;">
    {% for subfield in field %}
      {{ subfield(**kwargs) }}
      {{ subfield.label(style="margin: 5px 20px 15px 5px; cursor: pointer;") }}
    {% endfor %}
  </div>
{% else %}
  <div class="{{ group_class }}" style="margin-bottom: 5px;">
    {{ field(class_="form-control " + input_class, placeholder=field.label.text, style="width: 100%;", **kwargs) }}
  </div>
{% endif %}
{% endmacro %}
