{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}プロジェクト登録{% endblock %}
{% block include_css %}
  <!-- bootstrap select -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/css/bootstrap-select.min.css') }}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker3.css') }}">
{% endblock %}
{% block include_js %}
  <!-- bootstrap select -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/bootstrap-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/i18n/defaults-ja_JP.js') }}"></script>
  <!-- bootstrap datepicker -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/locales/bootstrap-datepicker.ja.min.js') }}"></script>
{% endblock %}
{% block content_header %}
  <h1>
    <a href="{{ url_for(session.pre_page) }}" class="btn btn-default">
        <i class="fa fa-arrow-left"></i> 一覧に戻る
    </a>
  </h1>
{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-lg-9">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title" style="font-size: x-large;">
          {% if form.project_name.data %}{{ form.project_name.data[:128] }}
          <small> 見積No : {{ form.estimation_no.data|filter_suppress_none }}</small>
          {% endif %}
        </h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab">契約</a></li>
            {% if project.status.is_done() %}
              {% if project.require_result() %}
              <li><a href="{{ url_for('project_result.index', project_id=form.id.data) }}">実績</a></li>
              {% endif %}
            <li><a href="{{ url_for('project_billing.index', project_id=form.id.data) }}">請求</a></li>
              {% if project.has_payment() %}
              <li><a href="{{ url_for('project_payment.index', project_id=form.id.data) }}">支払</a></li>
              {% endif %}
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="text-right" style="padding-bottom: 10px;">
              <a href="{{ url_for('.estimated_report_download', project_id=project.id) }}" class="btn btn-sm btn-success">
                <i class="fa fa-download"></i> 見積書出力
              </a>
              <a href="{{ url_for('.client_order_report_download', project_id=project.id) }}" class="btn btn-sm btn-success">
                <i class="fa fa-download"></i> 注文請書出力
              </a>
            </div>
            <form class="form-horizontal" method="post">
            {{ form.hidden_tag() }}
              <div class="box box-success color-palette-box">
                <div class="box-header with-border">
                  <h3 class="box-title"> 見積書詳細</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    {{ render_field(form.status, "col-sm-6", input_class="selectpicker") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.recorded_department_id, "col-sm-6", input_class="selectpicker") }}
                    {{ render_field(form.sales_person, "col-sm-6") }}
                  </div>
                  <div class="part-title"> 見積情報</div>
                  <div class="row">
                    {{ render_field(form.estimation_no, "col-sm-6") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.project_name, "col-sm-6") }}
                    {{ render_field(form.project_name_for_bp, "col-sm-6") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.end_user_company_id, "col-sm-6", input_class="selectpicker") }}
                    {{ render_field(form.client_company_id, "col-sm-6", input_class="selectpicker") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.start_date, "col-sm-6", input_class="date") }}
                    {{ render_field(form.end_date, "col-sm-6", input_class="date") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.contract_form, "col-sm-6", input_class="selectpicker") }}
                    {{ render_field(form.billing_timing, "col-sm-6", input_class="selectpicker") }}
                  </div>
                  <div class="box-frame">
                    <div class="box-header with-border">
                      <a href="{{ url_for('.create', project_id=project.id) }}"
                          class="btn btn-sm btn-success pull-left">
                        <i class="fa fa-plus"></i> 明細登録
                      </a>
                    </div>
                    <div class="box box-primary">
                      <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                          <tr>
                            <th width="150px">作業名称</th>
                            <th class="text-right" width="85px">請求金額</th>
                            <th>備考</th>
                            <th width="70px" class="center"></th>
                            <th width="70px" class="center"></th>
                          </tr>
                          {% for project_detail in project.project_details %}
                            <tr>
                              <td>
                                <a href="{{ url_for('.detail', project_detail_id=project_detail.id) }}">
                                  {% if project_detail.is_engineer() %}
                                    {{ project_detail.engineer.engineer_name|filter_suppress_none }}
                                  {% else %}
                                    {{ project_detail.work_name|filter_suppress_none }}
                                  {% endif %}
                                </a>
                              </td>
                              <td class="text-right">{{ project_detail.billing_money|number_with_commas|with_yen }}</td>
                              <td>{{ project_detail.remarks|filter_suppress_none }}</td>
                              <td>
                                {% if project_detail.is_engineer() and project_detail.engineer.is_bp() %}
                                  <a href="{{ url_for('.bp_order_report_download', project_detail_id=project_detail.id) }}"
                                      class="btn btn-sm btn-success">
                                    <i class="fa fa-file-text-o"></i> 注文書・請書作成
                                  </a>
                                {% endif %}
                              </td>
                              <td>
                                <a class="btn btn-sm btn-danger btn-delete"
                                    href="{{ url_for('.delete', project_detail_id=project_detail.id) }}">
                                  <i class="fa fa-trash"></i> 削除
                                </a>
                              </td>
                            </tr>
                          {% endfor %}
                        </table>
                      </div>
                    </div>
                  </div><!-- /.box-frame -->
                  <div class="row">
                    {{ render_field(form.estimated_total_amount, "col-sm-6") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.billing_site, "col-sm-6") }}
                    {{ render_field(form.billing_tax, "col-sm-6", input_class="selectpicker") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.scope, "col-sm-12", rows="3") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.contents, "col-sm-12", rows="3") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.working_place, "col-sm-6") }}
                    {{ render_field(form.delivery_place, "col-sm-6") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.deliverables, "col-sm-12") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.inspection_date, "col-sm-6", input_class="date") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.responsible_person, "col-sm-6") }}
                    {{ render_field(form.quality_control, "col-sm-6") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.subcontractor, "col-sm-6") }}
                  </div>
                  <div class="row">
                    {{ render_field(form.remarks, "col-sm-12", rows="6") }}
                  </div>
                  <div class="part-title"> 注文書詳細</div>
                  <div class="row">
                    {{ render_field(form.client_order_no, "col-sm-6") }}
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box box-success -->
              <div class="box-footer">
                <div class="pull-left small" style="color: #777">
                  <p style="margin: 0;">{{ form.updated_user.label.text }} : {{ form.updated_user.data|filter_suppress_none }}</p>
                  <p style="margin: 0;">{{ form.updated_at.label.text }} : {{ form.updated_at.data|filter_suppress_none }}</p>
                </div>
                <button type="submit" class="btn btn-primary pull-right save"><i class="fa fa-save"></i> 保存</button>
              </div>
            </form>
          </div><!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  {% if project.id %}
    {% include "attachment.html" %}
  {% endif %}
</div>
<!-- /.row -->
{% endblock %}
