{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}技術者{% endblock %}
{% block include_css %}
  <!-- bootstrap select -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/css/bootstrap-select.min.css') }}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker3.css') }}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/icheck-1.0.2/skins/all.css') }}">
 {% endblock %}
{% block include_js %}
  <!-- bootstrap select -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/bootstrap-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/i18n/defaults-ja_JP.js') }}"></script>
  <!-- bootstrap datepicker -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/locales/bootstrap-datepicker.ja.min.js') }}"></script>
  <!-- iCheck 1.0.2 -->
  <script src="{{ url_for('static', filename='vendor/icheck-1.0.2/icheck.js') }}"></script>
{% endblock %}
{% block content_header %}
  <h1>
    <a href="{{ url_for('.index') }}" class="btn btn-default">
      <i class="fa fa-arrow-left"></i> 一覧に戻る
    </a>
  </h1>
{% endblock %}
{% block main_content %}
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-search"></i> 詳細情報</h3>
    </div>
    <form class="form-horizontal" method="post">
    {{ form.hidden_tag() }}
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          {{ render_field(form.engineer_name, "col-sm-6") }}
          {{ render_field(form.engineer_name_kana, "col-sm-6") }}
        </div>
        <div class="row">
          {{ render_field(form.birthday, "col-sm-6", input_class="date-yearstart") }}
          {{ render_field(form.gender, "col-sm-6") }}
        </div>
        <div class="row">
          {{ render_field(form.company_id, "col-sm-6", input_class="selectpicker") }}
        </div>
        <div class="row">
          {{ render_field(form.business_category, "col-sm-6", input_class="selectpicker") }}
          {{ render_field(form.skill, "col-sm-6", input_class="selectpicker") }}
        </div>
       
       <hr /> 
       
	  {% if form.id.data %}
        <div class="box-header with-border">
	      {% if not engineer_histories|length %}
	        <a href="{{ url_for('engineer_history.create', engineer_id=form.id.data) }}" class="btn btn-sm btn-success pull-left">
  	          <i class="fa fa-plus"></i> 支払情報作成
	        </a>
          {% endif %}
        </div>
	    <div class="box box-primary">
	    <div class="box-body table-responsive no-padding">
	      <table class="table table-hover">
	        <tr>
	          <th width="250px">支払契約開始年月</th>
	          <th width="300px">支払契約終了年月</th>
	          <th class="text-right" width="80px">支払単価</th>
	          <th width="70px" class="center"></th>
	        </tr>
		  {% for engineer_history in engineer_histories %}
		    <tr>
	          <td>
	            <a href="{{ url_for('engineer_history.history', engineer_history_id=engineer_history.id) }}">
	              {{ engineer_history.payment_start_day.strftime('%Y/%m/%d')|filter_suppress_none }}
	            </a>
	          </td>
	          <td>{{ engineer_history.payment_end_day.strftime('%Y/%m/%d')|filter_suppress_none }}</td>
	          <td class="text-right">{{ engineer_history.payment_per_month|number_with_commas|with_yen  }}</td>
	          <td>
	            {% if engineer_history == latest_engineer_history %}
	              <a class="btn btn-sm btn-danger btn-delete" href="{{ url_for('engineer_history.delete', engineer_id=form.id.data, engineer_history_id=engineer_history.id) }}">
	                <i class="fa fa-trash"></i> 削除
	              </a>
	            {% endif %}
	          </td>
	        </tr>
		  {% endfor %}
	      </table>
	    </div>
	   </div>
	 {% endif %}
      </div>
      <!-- /.box -->      
	  <div class="box-footer">
        <div class="pull-left small" style="color: #777">
          <p style="margin: 0;">{{ form.updated_user.label.text }} : {{ form.updated_user.data|filter_suppress_none }}</p>
          <p style="margin: 0;">{{ form.updated_at.label.text }} : {{ form.updated_at.data|filter_suppress_none }}</p>
        </div>
	    <button type="submit" class="btn btn-primary pull-right save"><i class="fa fa-save"></i> 保存</button>
	  </div>
    </form>
  </div>
  
{% endblock %}
