{% extends "layout.html" %}
{% from "_formhelpers.html" import render_search_field %}
{% import "_pagination.html" as p %}
{% block include_css %}
  <!-- bootstrap select -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/css/bootstrap-select.min.css') }}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/icheck-1.0.2/skins/all.css') }}">
{% endblock %}
{% block include_js %}
  <!-- bootstrap select -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/bootstrap-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-select-1.12.2/js/i18n/defaults-ja_JP.js') }}"></script>
  <!-- iCheck 1.0.2 -->
  <script src="{{ url_for('static', filename='vendor/icheck-1.0.2/icheck.js') }}"></script>
{% endblock %}
{% block title %}技術者{% endblock %}
{% block content_header %}
  <h1>技術者</h1>
{% endblock %}
{% block main_content %}
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-search"></i> 検索条件</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <form class="form-horizontal" method="get" action="{{ url_for('.index') }}">
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        {{ render_search_field(form.engineer_name, "col-md-6") }}
        {{ render_search_field(form.company_id, "col-md-6", input_class="selectpicker") }}
      </div>
      <div class="row">
        {{ render_search_field(form.contract_engineer_is_checked, "col-md-6") }}
      </div>
      <!-- /.row -->
      <div class="row">
        {{ render_search_field(form.business_category_id, "col-md-6", input_class="selectpicker") }}
        {{ render_search_field(form.skill_id, "col-md-6", input_class="selectpicker") }}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> 検索</button>
    </div>
    </form>
  </div>
  <!-- /.box -->

  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          {% if pagination %}
            {% if pagination.total > pagination.per_page %}
              {{ p.pagination_widget(pagination,'.engineer_page', company_id=request.args.get('company_id', ''),
              engineer_name=request.args.get('engineer_name', ''), skill_id=request.args.get('skill_id', ''),
              business_category_id=request.args.get('business_category_id', '')) }}
            {% endif %}
          {% endif %}
          <a href="{{ url_for('.create') }}" class="btn btn-sm btn-success pull-right">
            <i class="fa fa-plus"></i> 新規登録
          </a>

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th width="250px">所属会社</th>
              <th width="180px">技術者名</th>
              <th>業種</th>
              <th>スキル</th>
              <th width="70px" class="center"></th>
            </tr>
            {% for engineer in pagination.items %}
            <tr>
              <td>{{ engineer.company.company_name|filter_suppress_none }}</td>
              <td>
                <a href="{{ url_for('.detail', engineer_id=engineer.id) }}">
                  {{ engineer.engineer_name|filter_suppress_none }}
                </a>
              </td>
              <td>
                {% for business_category in engineer.engineer_business_categories %}
                  <label class="label label-primary">{{ business_category.business_category.business_category_name }}</label>
                {% endfor %}
              </td>
              <td>
                {% for skill in engineer.engineer_skills %}
                  <label class="label label-primary">{{ skill.skill.skill_name }}</label>
                {% endfor %}
              </td>
              <td>
                <a class="btn btn-sm btn-danger" href="{{ url_for('.delete', engineer_id=engineer.id) }}">
                  <i class="fa fa-trash"></i> 削除
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <a href="{{ url_for('.create') }}" class="btn btn-sm btn-success pull-right">
            <i class="fa fa-plus"></i> 新規登録
          </a>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock %}