{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}支払一覧{% endblock %}
{% block include_css %}
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/icheck-1.0.2/skins/all.css') }}">
{% endblock %}
{% block include_js %}
  <!-- iCheck 1.0.2 -->
  <script src="{{ url_for('static', filename='vendor/icheck-1.0.2/icheck.js') }}"></script>
{% endblock %}
{% block content_header %}
  <h1>
    <a href="{{ url_for(session.pre_page) }}" class="btn btn-default">
        <i class="fa fa-arrow-left"></i> 一覧に戻る
    </a>
  </h1>
{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-lg-9">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title" style="font-size: x-large;">
          {% if project.project_name %}{{ project.project_name }}
          <small> 見積No : {{ project.estimation_no|filter_suppress_none }}</small>
          {% endif %}
        </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li><a href="{{ url_for('project_contract.index', project_id=project.id) }}">契約</a></li>
            {% if project.status.is_done() %}
              {% if project.require_result() %}
              <li><a href="{{ url_for('project_result.index', project_id=project.id) }}">実績</a></li>
              {% endif %}
            <li><a href="{{ url_for('project_billing.index', project_id=project.id) }}">請求</a></li>
              {% if project.has_payment() %}
              <li class="active"><a>支払</a></li>
              {% endif %}
            {% endif %}
          </ul>
          <div class="tab-content">

          {% for datum in form_data %}
            {% if datum.has_project_results() %}
            <div class="box box-success {% if datum.is_closed() %}collapsed-box{% endif %}">
              <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-edit"></i> {{ datum.month|datetime_format("%Y年%m月") }}</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-{% if datum.is_opened() %}minus{% else %}plus{% endif %}"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th class="hidden-xs" width="250px">会社名称</th>
                      <th width="160px">技術者名称</th>
                      <th width="120px">支払予定日</th>
                      <th class="text-right" width="160px">支払確定金額</th>
                      <th class="text-right" width="160px">支払交通費</th>
                      <th class="text-center" width="100px">支払済</th>
                    </tr>
                    {% for project_result in datum.project_results %}
                      <tr>
                        <td class="hidden-xs">
                          {{ project_result.project_detail.engineer.company.company_name|filter_suppress_none }}
                        </td>
                        <td>
                          <a href="{{ url_for('project_result.detail', result_id=project_result.id) }}?pre_page=payment">
                            {{ project_result.project_detail.engineer.engineer_name|filter_suppress_none }}
                          </a>
                        </td>
                        <td>{{ project_result.payment_expected_date|datetime_format('%Y/%m/%d') }}</td>
                        <td class="text-right">{{ project_result.payment_confirmation_money|number_with_commas|with_yen }}</td>
                        <td class="text-right">{{ project_result.payment_transportation|number_with_commas|with_yen }}</td>
                        <td class="text-center">
                          <div class="form-group no-margin">
                            <label>
                              <input type="checkbox" class="payment-input-flag"
                                     id="{{ project_result.id }}"
                                     name="payment_input_flag"
                                     {% if project_result.payment_flag.value %}checked{% endif %} />
                            </label>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
            {% endif %}
          {% endfor %}
          </div>
          <!-- ./tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->

  {% if project.id %}
    {% include "attachment.html" %}
  {% endif %}
</div>
<!-- /.row -->
{% endblock %}
