{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}ファイル添付{% endblock %}
{% block include_css %}
  <!-- Select2 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2-4.0.3/css/select2.min.css') }}">
{% endblock %}
{% block include_js %}
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendor/select2-4.0.3/js/select2.full.js') }}"></script>
{% endblock %}
{% block content_header %}
  <h1>
    <a href="{{ url_for('project_contract.index', project_id=form.project_id.data) }}" class="btn btn-default">
      <i class="fa fa-arrow-left"></i> 一覧に戻る
    </a>
  </h1>
{% endblock %}
{% block main_content %}
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-search"></i> 詳細情報</h3>
      <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          {% if form.id.data %}
            {{ render_field(form.filename, "col-xs-6") }}
          {% else %}
            {{ render_field(file_form.upload, "col-xs-6") }}
          {% endif %}
          {{ render_field(form.type, "col-xs-6", input_class="select2") }}
          {{ render_field(form.remarks, "col-xs-12") }}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> 保存</button>
      </div>
    </form>
  </div>
  <!-- /.box -->
{% endblock %}