{% extends "layout.html" %}
{% block title %}プロジェクト登録{% endblock %}
{% block include_css %}
  <!-- Select2 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2-4.0.3/css/select2.min.css') }}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker3.css') }}">
{% endblock %}
{% block include_js %}
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendor/select2-4.0.3/js/select2.full.js') }}"></script>
  <!-- bootstrap datepicker -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/locales/bootstrap-datepicker.ja.min.js') }}"></script>
{% endblock %}
{% block content_header %}
  <h1>
    <a href="{{ url_for('.index') }}" class="btn btn-default">
        <i class="fa fa-arrow-left"></i> 一覧に戻る
    </a>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li>プロジェクト</li>
    <li class="active">登録</li>
  </ol>
{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-lg-9">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">
          {% if form.project_name.data %}{{ form.project_name.data }}
          <small> 見積No : {{ form.estimation_no.data|filter_suppress_none }}</small>
          {% endif %}
        </h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#basic" data-toggle="tab">基本情報</a></li>
            {% if form.id.data %}
            <li><a href="#estimate" data-toggle="tab">見積り</a></li>
            <li><a href="#order" data-toggle="tab">注文請け</a></li>
            <li><a href="#result" data-toggle="tab">技術者実績</a></li>
            <li><a href="#billing" data-toggle="tab">請求</a></li>
            <li><a href="#payment" data-toggle="tab">支払</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            {% include "project/basic.html" %}
            {% include "project/estimate.html" %}
            {% include "project/order.html" %}
            {% include "project/result.html" %}
            {% include "project/billing.html" %}
            {% include "project/payment.html" %}
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  {% if form.id.data %}
  <div class="col-lg-3">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="icon-paper-clip"></i> 添付</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        {% for attachment in project_attachments %}
          <strong><i class="fa fa-file-text-o fa-fw"></i> {{ attachment.type }}</strong>
          <div class="table-responsive no-padding">
            <table class="table small no-margin">
              {% for project_attachment in attachment.attachments %}
              <tr>
              <td width="20px" style="padding-right: 0;">
                <a style="font-size: xx-small;" href="{{ url_for('project_attachment.detail', project_attachment_id=project_attachment.id) }}">
                    <i class="fa fa-edit"></i>
                </a>
              </td>
              <td width="100px">
                  <a href="{{ url_for('attachment.download', attachment_id = project_attachment.attachment_id) }}">
                      {{ project_attachment.attachment.filename }}
                  </a>
              </td>
              <td>{{ project_attachment.remarks|filter_suppress_none }}</td>
              <td width="20px" style="padding-right: 0;">
                <a class="" style="font-size: xx-small;" href="{{ url_for('project_attachment.delete', project_attachment_id=project_attachment.id) }}">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
              </tr>
             {% endfor %}
            </table>
          </div>
          <hr style="margin-top: 0;" />
        {% endfor %}
        <div class="footer">
          <a href="{{ url_for('project_attachment.create', project_id=form.id.data, _external=True) }}" class="btn btn-sm btn-default pull-right">
              <i class="fa fa-file-text-o"></i> ファイル添付画面
          </a>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  {% endif %}
</div>
<!-- /.row -->
{% endblock %}