{% from "_formhelpers.html" import render_field %}
<div class="tab-pane fade" id="estimate">
  <div class="text-right" style="padding-bottom: 10px;">
    <button class="btn btn-sm btn-success"><i class="fa fa-file-text-o"></i> 見積書出力</button>
    <button class="btn btn-sm btn-success"><i class="fa fa-file-text-o"></i> BP注文書出力</button>
  </div>
    <div class="table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <th width="50px">#</th>
          <th>技術者</th>
          <th>会社名</th>
          <th>開始年月日</th>
          <th>終了年月日</th>
          <th width="80px" class="text-right">売単価</th>
          <th width="80px" class="text-right">支払単価</th>
          <th width="70px" class="center"></th>
          <th width="70px" class="center"></th>
        </tr>
        {% for item in form.assigned_members %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item.engineer.engineer_name }}</td>
          <td>{{ item.engineer.company.company_name }}</td>
          <td>{{ item.start_date|datetime_format("%Y/%m/%d") }}</td>
          <td>{{ item.end_date|datetime_format("%Y/%m/%d") }}</td>
          <td class="text-right">¥{{ item.sales_unit_price|number_with_commas }}</td>
          <td class="text-right">¥{{ item.payment_unit_price|number_with_commas }}</td>
          <td>
            <a class="btn btn-sm btn-default" href="{{ url_for('assigned_member.detail', assigned_member_id=item.id) }}">
               詳細 <i class="fa fa-navicon"></i>
            </a>
          </td>
          <td>
            <a class="btn btn-sm btn-danger" href="{{ url_for('assigned_member.delete', assigned_member_id=item.id) }}">
              <i class="fa fa-trash"></i> 削除
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  <div class="footer text-right">
    <form method="get" action="{{ url_for('assigned_member.add') }}">
      <input type="hidden" id="project_id" name="project_id" value="{{ form.id.data }}">
      <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> 技術者登録</button>
    </form>
  </div>

  <hr />

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-handshake-o"></i> 見積書備考欄</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <form class="form-horizontal" method="post">
      <div class="box-body">
        {{ estimation_remarks_form.hidden_tag() }}
        <div class="row">
          {{ render_field(estimation_remarks_form.scope, "col-md-6") }}
          {{ render_field(estimation_remarks_form.contents, "col-md-6") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(estimation_remarks_form.deliverables, "col-md-6") }}
          {{ render_field(estimation_remarks_form.delivery_place, "col-md-6") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(estimation_remarks_form.inspection_date, "col-md-6", input_class="date") }}
          {{ render_field(estimation_remarks_form.responsible_person, "col-md-6") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(estimation_remarks_form.quality_control, "col-md-6") }}
          {{ render_field(estimation_remarks_form.subcontractor, "col-md-6") }}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-sm btn-primary pull-right" name="save" value="estimate"><i class="fa fa-save"></i> 保存</button>
      </div>
    </form>
  </div>
  <!-- /.box -->

</div>
<!-- /.tab-pane #estimate -->
