{% extends "layout.html" %}
{% from "_formhelpers.html" import render_search_field %}
{% import "_pagination.html" as p %}
{% block title %}プロジェクト{% endblock %}
{% block include_css %}
  <!-- Select2 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2-4.0.3/css/select2.min.css') }}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker3.css') }}">
{% endblock %}
{% block include_js %}
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendor/select2-4.0.3/js/select2.full.js') }}"></script>
  <!-- bootstrap datepicker -->
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker-1.6.4/locales/bootstrap-datepicker.ja.min.js') }}"></script>
{% endblock %}
{% block content_header %}
  <h1>プロジェクト</h1>
{% endblock %}
{% block main_content %}
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-search"></i> 検索条件</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <form class="form-horizontal" method="get" action="{{ url_for('.index') }}">
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        {{ render_search_field(form.project_name, "col-md-12") }}
      </div>
      <div class="row">
        {{ render_search_field(form.status, "col-md-6", input_class="select2") }}
        {{ render_search_field(form.recorded_department_id, "col-md-6", input_class="select2") }}
      </div>
      <div class="row">
        {{ render_search_field(form.end_user_company_id, "col-md-6", input_class="select2") }}
        {{ render_search_field(form.client_company_id, "col-md-6", input_class="select2") }}
      </div>
      <div class="row">
        {{ render_search_field(form.start_date, "col-md-6", input_class="date") }}
        {{ render_search_field(form.end_date, "col-md-6", input_class="date") }}
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> 検索</button>
    </div>
    </form>
  </div>
  <!-- /.box -->

  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          {% if pagination %}
            {% if pagination.total > pagination.per_page %}
              {{ p.pagination_widget(pagination,'.project_page',
              project_name=form.project_name.data,
              status=form.status.data,
              recorded_department_id=form.recorded_department_id.data,
              end_user_company_id=form.end_user_company_id.data,
              client_company_id=form.client_company_id.data,
              start_date=form.start_date.data,
              end_date=form.end_date.data) }}
            {% endif %}
          {% endif %}
          <a href="{{ url_for('.create') }}" class="btn btn-sm btn-success pull-right">
            <i class="fa fa-plus"></i> 新規登録
          </a>

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th width="120px">エンドユーザー</th>
              <th width="180px">顧客会社</th>
              <th width="120px">計上部署</th>
              <th>プロジェクト名</th>
              <th width="60px">開始日</th>
              <th width="60px">終了日</th>
              <th width="100px">契約<br />ステータス</th>
              <th width="70px" class="center"></th>
              <th width="70px" class="center"></th>
            </tr>
            {% for project in pagination.items %}
            <tr>
              <td>{{ project.end_user_company.company_name|filter_suppress_none }}</td>
              <td>{{ project.client_company.company_name }}</td>
              <td>{{ project.recorded_department.department_name }}</td>
              <td><a href="{{ url_for('project_contract.index', project_id=project.id) }}">{{ project.project_name }}</a></td>
              <td>{{ project.start_date|datetime_format("%Y/%m/%d") }}</td>
              <td>{{ project.end_date|datetime_format("%Y/%m/%d") }}</td>
              <td>{{ project.status.name }}</td>
              <td>
                <a class="btn btn-sm btn-default" href="{{ url_for('.copy', project_id=project.id) }}">
                   <i class="fa fa-copy"></i> コピー
                </a>
              </td>
              <td>
                <a class="btn btn-sm btn-danger" href="{{ url_for('.delete', project_id=project.id) }}">
                  <i class="fa fa-trash"></i> 削除
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <a href="{{ url_for('.create') }}" class="btn btn-sm btn-success pull-right">
            <i class="fa fa-plus"></i> 新規登録
          </a>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock %}
