{% from "_formhelpers.html" import render_field %}
<div class="tab-pane fade" id="order">
  <div class="text-right" style="padding-bottom: 10px;">
    <button class="btn btn-sm btn-success"><i class="fa fa-file-text-o"></i> 顧客注文書出力</button>
    <button class="btn btn-sm btn-success"><i class="fa fa-file-text-o"></i> 顧客注文書請出力</button>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-handshake-o"></i> 注文書備考欄</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <form class="form-horizontal" method="post">
       <div class="box-body">
        {{ order_remarks_form.hidden_tag() }}
        <div class="row">
          {{ render_field(order_remarks_form.order_no, "col-md-6") }}
          {{ render_field(order_remarks_form.order_amount, "col-md-6") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(order_remarks_form.contents, "col-md-6") }}
          {{ render_field(order_remarks_form.responsible_person, "col-md-6") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(order_remarks_form.subcontractor, "col-md-6") }}
          {{ render_field(order_remarks_form.scope, "col-md-6") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(order_remarks_form.work_place, "col-md-6") }}
          {{ render_field(order_remarks_form.delivery_place, "col-md-6") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(order_remarks_form.deliverables, "col-md-6") }}
          {{ render_field(order_remarks_form.inspection_date, "col-md-6", input_class="date") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(order_remarks_form.payment_terms, "col-md-6") }}
          {{ render_field(order_remarks_form.billing_company_id, "col-md-6", input_class="select2") }}
        </div>
        <!-- /.row -->
        <div class="row">
          {{ render_field(order_remarks_form.remarks, "col-md-6") }}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-sm btn-primary pull-right" name="save" value="order"><i class="fa fa-save"></i> 保存</button>
      </div>
    </form>
  </div>
  <!-- /.box -->

</div>
<!-- /.tab-pane #order -->
